<p style="color: green"><%= notice %></p>

<% content_for :title, "Events" %>

<h1>Events</h1>

<div id="events">
  <% @events.each do |event| %>
    <%= render event %>
    <p>
      <%= link_to "Show this event", event %>
    </p>
  <% end %>
</div>

<%= link_to "New event", new_event_path %>
<br><br>

<h2>Eventos con conciertos</h2>
<ul>
  <% Event.description_concert.each do |event| %>
    <%= render partial: 'event', locals: { event: event } %>
  <% end %>
</ul>
<br>

<h2>Eventos Transcurridos en el pasado</h2>
<ul>
  <%Event.past.each do |event|%>
  <%= render partial: 'event', locals: {event: event }%>
  <% end %>
</ul>
<br>

  <h2>Eventos del mes actual</h2>
  <ul>
  <%Event.current_month.each do |event|%>
  <%= render partial: 'event', locals: {event: event }%>
  <% end %>
</ul>
<br>
